name: Deploy to Hostinger

on:
  push:
    branches:
      - main

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Install & Build
        run: |
          npm install
           chmod +x node_modules/.bin/vite
          npm run build

      - name: Deploy via SSH
        uses: wlixcc/SFTP-Deploy-Action@v1.2.4
        with:
          username: ${{ secrets.USER }}
          server: ${{ secrets.HOST }}
          port: 65002
          ssh_private_key: ${{ secrets.SSH_PRIVATE_KEY }}
          local_path: ./dist/*
          remote_path: /home/u268578894/domains/modern-its.de/public_html/
